*{
    margin:0;
    padding:0;
    font-family: 'Oswald';
    cursor:default;
}

/* Navigation bar buttons */

.navbar{
    display:flex;
    background-color:black;
    justify-content:space-between;
    height:75px;
    width:100%
}

h1{
    color:rgb(194, 39, 39);
    text-align: center;
    padding-top:15px;
    padding-left:20px;

}

button{
    border:none;
    background-color:black;

    color:rgb(194, 39, 39);
    font-size:20px;


    width:100px;
    height:100%;
    cursor:pointer;
    transition-duration:0.5s;

}

button:hover{
    color:white;
}


/* Hero Page code */

.heroP{
    width:100%;
    position:relative;
}

#gradient{
    height:100%;
    width:100%;
    background-color:rgb(0,0,0,0.5);
    background-image:radial-gradient(transparent,black);

    position:absolute;
    top:0;
    left:0;
}

.text{
    width:100%;
    color:white;
    position:absolute;
    top:26%;
    text-align: center;
}


#bar{
    width:500px;
    height:50px;
    background-color:transparent;
    color:white;
    border-color:rgb(210, 203, 203);
    border-radius:4px;
    border-width: 2px;
    font-size:20px;
    cursor:auto;

}

#started{
    margin-left:10px;
    font-size:25px;
    width:200px;
    height:50px;
    border:none;
    border-radius:4px;
    color:white;
    background-color:red;

    cursor:pointer;
    transition-duration:0.5s;
}

#started:hover{
    background-image:radial-gradient(red,rgb(0,0,0,0.4));
}

::placeholder{
    color:rgb(210, 203, 203)
}

/* Featured page */
.featured{
    
    width:100%;
    height:775px;
    background-color:black;
    color:white;
    position:relative;
}

#learn{
    margin-left:10px;
    width:150px;
    font-size:30px;

    background-color:lightblue;
    color:black;
    border-radius:4px;
    cursor: pointer;
    animation-duration:0.5s;
}

#learn:hover{
    background-image:radial-gradient(transparent,rgb(0,0,0,0.2));
}


.trending{
    width:100%;
    padding-left:10%;

    position:absolute;
    top:27%;
}

#display{
    width:80%;
    background-color:rgb(23, 23, 23);
    overflow:auto;
    white-space:nowrap;
    padding:10px;
}

#display img {
    padding:10px;
}

/* footer */
 
.footer{
    width:100%;
    height:175px;
    background-color:rgb(23, 23, 23);
    color:rgb(163, 163, 163);
    
    border-top:3px solid;
    border-top-color:rgb(71, 71, 71);
}

#topText{
    width:80%;
    margin:auto;
    display:flex;
    justify-content: space-between;
}

p3{
    font-size:20px;
    cursor: pointer;
    transition-duration:0.5s;
    padding-bottom:15px;
}

p3:hover{
    color:white;
}
