body{
    background-color: lightblue;
}


.header{
    display:flex;
    color:white;
    background-color: darkslategray;

    font-size:50px;

    height: 100px;
    width: 100%;
}

.logo{
    font-size:25px;
    text-align: center;
}

.title{
    text-align: center;
}

.login{
    text-align: center;
}

/* .header{
    position: static;
    
} */

/* .logo{
    position: static;
    color:lightgreen;
    background-color: black;
    text-align: center;
    font-size:50px;
    border:3px solid;
    margin-left:25%;
} */

 

/* node --watch fileName */